table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 25px;
    width: 800px;
    color: white;


    }

    th {
        color: black;
    }
    td, th {
    border: 20px solid #ffffff;
    border-radius: 35px;
    text-align: left;
    padding: 8px;
    }

    td strong {
        
        font-size: 15px;
        padding: 0 0 0 56px;
    }
   
    .vermelho {

        background-color: rgb(250, 40, 40);
    }

    .vermelho-escuro {
        background-color: rgb(196, 35, 35);

    }

    .rosa {
        background-color: rgb(253, 73, 133);

    }

    .amarelo {
        background-color: rgb(248, 248, 74);

    }

    .laranja {
        background-color: orange;

    }

    .azul{
        background-color: rgb(20, 20, 255);

    }

    .azul-claro {
        background-color: rgb(95, 199, 247);

    }

    .verde {
        background-color: rgb(79, 250, 79);

    }

    .roxo {
        background-color: rgb(169, 77, 255);
    }